*{
    box-sizing: border-box;
}
h1{
    color: red;
    text-align: center;
}
.row{
    width: 100%;
}
.col-lg-4{
    width: 33.33%;
    float: left;
    position: relative;
}
.div-1{
    position:relative;
    border: 1px solid blue;
    margin: 5px;
    background-color: yellow;
    border: 1px solid black;
}
.section-title-1{
    position:relative;
    top: 0px;
    left: 80%;
    background-color:red;
    font-family: monospace;
    width: 20%;
    text-align: right;
    border: 1px solid black;
    font-size: 125%;
}
.section-title-2{
    position:relative;
    top: 0px;
    left: 80%;
    background-color:cyan;
    font-family: monospace;
    width: 20%;
    text-align: right;
    border: 1px solid black;
    font-size: 125%;
}
.section-title-3{
    position:relative;
    top: 0px;
    left: 80%;
    background-color:violet;
    font-family: monospace;
    width: 20%;
    text-align: right;
    border: 1px solid black;
    font-size: 125%;
}
p{
    padding: 10px;
}
@media (min-width:992px){
    .col-lg-4{
        width: 33.33%;
    }
}
@media(min-width:768px)and (max-width:991px){
    .col-lg-4{
        width: 50%;
    }
    .col-lg-4:last-child{
        width: 100%;
    }
}
@media(max-width:767px){
    .col-lg-4{
        width: 100%;
    }
}